html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: #e4c6cc;
}

canvas {
  display: block;
  border: 5px solid #3b364e;
}
